* {
    font-family: monospace;
}

body {
    max-width: 768px;
    margin: 3% auto;
    border: 2px solid darkgrey;
    padding: 2%;
    background-color: black;
    color: white;
    
}

h1 {
    font-size: 3em;
}

#controls {
    margin: auto;
}
#controls > img {
    margin: auto;
    background-color: white;
}
#controls > button {
    font-size: 1.5em;
}

.card {
    margin: 2% 0%;
    border: 1px solid #222;
    padding: 1% 2%;
}
.card > h2 {
    /* border: 1px solid #222; */
    padding: 1%;
    background-color: #444;
    font-size: 1.5em;
}
.card > h4 > span {
    margin-right: 3%;
    padding: 1% 2%;
    background-color: #222;
    font-size: 1.3em;
}
.card > p {
    /* border: 1px solid #222; */
    padding: 1%;
    background-color: #333;
    font-size: 1.3em;
}