* {
    font-family: monospace;
}

body {
    max-width: 768px;
    margin: 3% auto;
    border: 2px solid darkgrey;
    padding: 2%;
    background-color: black;
    color: white;
    
}

.card {
    margin: 2% 0%;
    border: 1px solid #222;
    padding: 1% 2%;
}
.card > h2 {
    background-color: #555;
    /* border: 1px solid #222; */
    padding: 1%;
}
.card > h4 > span {
    margin-right: 3%;
    background-color: #222;
    padding: 1% 2%;
}
.card > p {
    background-color: #333;
    /* border: 1px solid #222; */
    padding: 1%;
}